img.pimage{
  width: 150px;
  height: 130px;
}
a.pa{
  display: inline-block;
  height: 160px;
}
.p{
  margin-top: 20px;
  margin-bottom: 20px;
}

img.spi{
  width: 100%;
}

ul.gallery{
 margin-top: 20px;
}

ul.gallery li{
  display: inline-block;
  margin: 20px;
  list-style: none;
}

img.cpi{
  width: 100px;
  height: 100px;
}
table.align-middle td{
 vertical-align: middle !important;
}

.pp{
  position: absolute;
  left: -3000px;
}

.alert-error {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
